In [18]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# BeautifulSoup, Pandas, and Requests/Splinter
from splinter import Browser
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [19]:
# Allows you to interact with chrome from python, just like a printer driver

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', headless=False)

In [20]:
# EIA browser to grab table
url = 'https://www.eia.gov/electricity/state/archive/2014/'
browser.visit(url)

In [21]:
# Grab table with pandas

table_list = pd.read_html(url)
table = table_list[0]
table.head()

,Name,Average retail price (cents/kWh),Net summer capacity (MW),Net generation (MWh),Total retail sales (MWh)
0,Alabama,9.27,31953,149340447,90493727
1,Alaska,17.46,2464,6042830,6164812
2,Arizona,10.18,28249,112257187,76297685
3,Arkansas,7.90,14754,61592137,47080301
4,California,15.15,74646,198807622,262584786

In [22]:
# Remove total row from list

remove_list = ['U.S. Total']
states_table = table[~table.Name.isin(remove_list)]

# remove non-price columns
ecost_df = states_table.iloc[:,[0,1]]

# push to csv
ecost_df.to_csv('csv/eia_2014_scrape.csv')
ecost_df

                    Name  Average retail price (cents/kWh)
0                Alabama                              9.27
1                 Alaska                             17.46
2                Arizona                             10.18
3               Arkansas                              7.90
4             California                             15.15
5               Colorado                             10.06
6            Connecticut                             17.05
7               Delaware                             11.22
8   District of Columbia                             12.11
9                Florida                             10.77
10               Georgia                             10.03
11                Hawaii                             33.43
12                 Idaho                              7.93
13              Illinois                              9.36
14               Indiana                              9.06
15                  Iowa                              8.15
16                Kansas                             10.16
17              Kentucky                              8.15
18             Louisiana                              8.09
19                 Maine                             12.65
20              Maryland                             12.10
21         Massachusetts                             15.35
22              Michigan                             11.03
23             Minnesota                              9.52
24           Mississippi                              9.60
25              Missouri                              9.11
26               Montana                              8.59
27              Nebraska                              8.84
28                Nevada                              9.73
29         New Hampshire                             15.22
30            New Jersey                             13.95
31            New Mexico                              9.65
32              New York                             16.25
33        North Carolina                              9.33
34          North Dakota                              8.41
35                  Ohio                              9.73
36              Oklahoma                              8.18
37                Oregon                              8.68
38          Pennsylvania                             10.28
39          Rhode Island                             15.41
40        South Carolina                              9.67
41          South Dakota                              9.05
42             Tennessee                              9.40
43                 Texas                              8.94
44                  Utah                              8.35
45               Vermont                             14.57
46              Virginia                              9.17
47            Washington                              7.13
48         West Virginia                              7.65
49             Wisconsin                             10.57
50               Wyoming                              7.76